<app-navbar></app-navbar>

<mat-toolbar class="toolbar-two">
  <h1 class="title-main">Tracking</h1>
</mat-toolbar>


<div class="background-tracking">
  <div class="container">
    <section class="padding-table">

      <mat-form-field appearance="standard">
        <mat-label>Filter</mat-label>
        <input matInput (keyup)="applyFilter($event)" search placeholder="Ex. Sold To" #input>
      </mat-form-field>

      <div class="mat-elevation-z1 contenedor-bodegas ">
        <table mat-table [dataSource]="dataSource" class="background-table "  >

          <ng-container matColumnDef="details">
            <th mat-header-cell *matHeaderCellDef> Details </th>
            <td mat-cell *matCellDef="let row">
              <mat-icon mat-raised-button (click)="openDialog(row)">visibility</mat-icon>
            </td>
          </ng-container>

          <ng-container matColumnDef="order_Number">
            <th mat-header-cell *matHeaderCellDef> CCN PO Number </th>
            <td mat-cell *matCellDef="let row"> {{row.PEDNRO}}</td>
          </ng-container>
          <ng-container matColumnDef="sold_Number">
            <th mat-header-cell *matHeaderCellDef> Customer PO Number </th>
            <td mat-cell *matCellDef="let row"> {{row.PEDNROPLAC}} </td>
          </ng-container>

          <ng-container matColumnDef="sold_to">
            <th mat-header-cell *matHeaderCellDef> Sold To </th>
            <td mat-cell *matCellDef="let row"> {{row.CLINOMLL}} </td>
          </ng-container>

          <ng-container matColumnDef="etd_solicitado">
            <th mat-header-cell *matHeaderCellDef matTooltip="Order Date Received"> OD </th>
            <td mat-cell *matCellDef="let row"> {{row.PEDFCHREAL | date}} </td>
          </ng-container>

          <ng-container matColumnDef="ETA_solicitada">
            <th mat-header-cell *matHeaderCellDef matTooltip="Estimated Shipping Date"> ESD </th>
            <td mat-cell *matCellDef="let row"> {{row.PEDFCHENTP | date}} </td>
          </ng-container>


          <ng-container matColumnDef="totalAmount">
            <th mat-header-cell *matHeaderCellDef> Total Amount</th>
            <td mat-cell *matCellDef="let row"> ${{row.PEDTOTMON | number:'1.2-2'}} </td>
          </ng-container>

          <ng-container matColumnDef="refresh">
            <th mat-header-cell *matHeaderCellDef>
              <mat-icon (click)="refresh()">refresh</mat-icon>
            </th>
            <td mat-cell *matCellDef="let row"> {{row.position}} </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
          </tr>
        </table>

        <mat-paginator [pageSizeOptions]="[ 10, 20 , 50 ]" aria-label="Select page of users" class="background-table">
        </mat-paginator>

      </div>
    </section>
  </div>

  <section class="section-publi-tracking">
    <img class="banner-publi" src="https://www.ccn.com.ni/wp-content/uploads/b2b/bannerTracking.jpg" alt="">
  </section>
</div>

<app-footer></app-footer>
