<app-navbar></app-navbar>
<mat-toolbar class="toolbar-two">
  <h1 class="title-main">New Order<mat-icon>shopping_cart</mat-icon>
  </h1>
</mat-toolbar>

<div class="background-newOrder">
  <div class="container">
    <section class="section-header">
      <form [formGroup]="formHeader" (ngSubmit)="completarOrden()">

        <mat-grid-list cols="2" rowHeight="120px">

          <mat-grid-tile [colspan]="1" [rowspan]="1">
            <mat-card class="card-inputs-form mat-elevation-z5">
              <mat-form-field class="ancho" appearance="outline">
                <mat-label>Payment Method</mat-label>
                <mat-select matNativeControl required formControlName="paymentType" [disabled]="disabledPaymentType"
                  [(ngModel)]="gstValue" (ngModelChange)="totalAmountReachedfn()">
                  <mat-option value="GR">Credit</mat-option>
                  <mat-option value="UN">Debit</mat-option>
                </mat-select>
                <!-- <mat-select formControlName="paymentType">
                  <mat-option *ngFor="let pay of pays" [value]="pay.value">
                    {{pay.name}}
                  </mat-option>
                </mat-select> -->
              </mat-form-field>
            </mat-card>
          </mat-grid-tile>


          <mat-grid-tile [colspan]="1" [rowspan]="1">
            <mat-card class="card-inputs-form mat-elevation-z5">
              <mat-form-field class="ancho" appearance="outline">
                <mat-label>Customer Order Number</mat-label>
                <input maxlength="12" matInput formControlName="poNbr" autocomplete="off" required>
              </mat-form-field>
            </mat-card>
          </mat-grid-tile>
          <mat-grid-tile [colspan]="1" [rowspan]="1">
            <mat-card class="card-inputs-form mat-elevation-z5">
              <mat-form-field class="ancho" appearance="outline">
                <mat-label>Sold to</mat-label>
                <mat-select matNativeControl formControlName="soldTo" (ngModelChange)="selectSoldTo($event)"
                  (ngModel)="selectSoldTo">
                  <mat-option *ngFor="let accountAddress of accountAddressesList" [value]="accountAddress">
                    {{accountAddress.OrganizationName}} {{accountAddress.FormattedAddress}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </mat-card>
          </mat-grid-tile>


          <mat-grid-tile [colspan]="1" [rowspan]="2">
            <mat-card class="card-order mat-elevation-z5">
              <mat-card-content>
                <!-- <p> <span class="title-info">Incortem: </span><span> {{incoterm}}</span></p> -->
                <p><span class="title-info">Ship to: </span><span> {{shipTo}}</span></p>
                <p><span class="title-info">Container Type: </span><span>{{shipmentType}}</span></p>
                <p><span class="title-info">Total Amount Available:</span><span>
                    ${{grupoEmpresario.OrganizationDEO_AvailableCredit_c | number:'1.2-2'}} </span></p>

                <p><span class="title-info">Balance:</span><span> ${{grupoEmpresario.OrganizationDEO_AmountUsed_c |
                    number:'1.2-2'}}</span></p>
                <p> <span class="title-info">Outstading Balance: </span>${{grupoEmpresario.OrganizationDEO_AmountDue_c |
                  number:'1.2-2' }}</p>
              </mat-card-content>
            </mat-card>
          </mat-grid-tile>

          <mat-grid-tile [colspan]="1" [rowspan]="1">
            <mat-card class="card-inputs-form mat-elevation-z5">
              <mat-form-field class="ancho" appearance="outline">
                <mat-label>Estimated Shipping Date</mat-label>
                <input matInput [min]="minDate" [matDatepicker]="picker2" formControlName="etd" required
                  autocomplete="off" [disabled]="repeatOrder">
                <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                <mat-datepicker #picker2 [startAt]="maxDate"></mat-datepicker>
              </mat-form-field>
            </mat-card>
          </mat-grid-tile>
        </mat-grid-list>

      </form>
    </section>

    <!-- ##### SECTION PRODUCT #### -->
    <mat-card class="card-header mat-elevation-z8">
      <h1 class="title-main-product">Product <mat-icon>inventory_2</mat-icon>
      </h1>
    </mat-card>
    <app-spiner></app-spiner>
    <section>
      <form [formGroup]="formProduct" (ngSubmit)="onSubmitProducto()">
        <mat-grid-list cols="2" rowHeight="120px">

          <mat-grid-tile [colspan]="1" [rowspan]="1">
            <mat-card class="card-inputs-form mat-elevation-z5">
              <mat-form-field class="ancho" appearance="outline">
                <mat-label> Select Product</mat-label>
                <mat-select matNativeControl name="select" formControlName="sku" class="my-select-panel-class"
                  (ngModelChange)="getItemInfo($event)" (ngModel)="selectedProduct" [disabled]="repeatOrder">
                  <mat-option *ngFor="let product of filteringProducts(productsList)" [value]="product">
                    {{product.ItemDescription}}
                    <!-- - ${{product.ListPrice}} -->
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </mat-card>
          </mat-grid-tile>

          <app-spiner></app-spiner>
          <mat-grid-tile [colspan]="1" [rowspan]="1">
            <mat-card class="card-inputs-form mat-elevation-z5">
              <mat-form-field class="ancho" appearance="outline">
                <mat-label>Quantity</mat-label>
                <mat-select matNativeControl formControlName="quantity" (ngModelChange)="calculo($event)"
                  [disabled]="repeatOrder">
                  <mat-option value="{{pallet}}" *ngFor="let pallet of pallets"> {{pallet}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </mat-card>
          </mat-grid-tile>

        </mat-grid-list>

        <!-- button add -->
        <div class="col-lg-12 text-center">
          <button mat-raised-button class="btn-add text-uppercase font-weight-bold"
            [disabled]="!(addEnabled && pesoTotal+PesoTotalARepartir<=pesoMaximo && formProduct.valid && !seRepiteSKU() && formProduct.value.quantity > 0)"
            value="Agregar">Add</button>
        </div>

        <mat-card *ngIf="totalAmountReached"
          class="mat-elevation-z8 background-table section-data-container custom-warning">
          <mat-grid-list cols="1" rowHeight="40px">
            <mat-grid-tile [colspan]="1" [rowspan]="1">
              <p>
                <span class="title-info">Warning: You have reached your total amount available for purchase</span>
              </p>
            </mat-grid-tile>
          </mat-grid-list>
        </mat-card>


      </form>

    </section>

    <!-- Table Shopping Cart -->
    <div class="example-table-container">
      <mat-card class="background-table">
        <table mat-table [dataSource]="dataSourceShoppingCarts" class="background-table">
          <ng-container matColumnDef="sku">
            <th mat-header-cell *matHeaderCellDef> SKU </th>
            <td mat-cell *matCellDef="let element"> {{element.__ORACO__SKU_c}} </td>
          </ng-container>

          <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef> Description. </th>
            <td mat-cell *matCellDef="let element"> {{element.__ORACO__Product_c}} </td>
          </ng-container>

          <ng-container matColumnDef="ListPrice">
            <th mat-header-cell *matHeaderCellDef> List Price. </th>
            <td mat-cell *matCellDef="let element"> ${{element.__ORACO__Tax2_c | number:'1.2-2'}} </td>
          </ng-container>


          <ng-container matColumnDef="quantity">
            <th mat-header-cell *matHeaderCellDef> Quantity </th>
            <td mat-cell *matCellDef="let element"> {{element.__ORACO__Quantity_c}} </td>
          </ng-container>

          <ng-container matColumnDef="totalAmount">
            <th mat-header-cell *matHeaderCellDef> Total Amount </th>
            <td mat-cell *matCellDef="let element"> ${{element.__ORACO__Quantity_c * element.__ORACO__Tax2_c |
              number:'1.2-2'}} </td>
          </ng-container>

          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let element">
              <a *ngIf="!repeatOrder" class="pointer color-icons"
                (click)="deleteShoppingCartItem(element.__ORACO__ShoppingCartDSD_Id_c,element.Id)" matTooltip="Delete">
                <mat-icon>delete</mat-icon>
              </a>
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

        <mat-grid-list cols="2" rowHeight="40px">

          <mat-grid-tile [colspan]="1" [rowspan]="1">
            <mat-hint>"Edit" option not available, delete and create again</mat-hint>
          </mat-grid-tile>
          <mat-grid-tile [colspan]="1" [rowspan]="1">
            <mat-hint>* Required fields</mat-hint>
          </mat-grid-tile>
        </mat-grid-list>

      </mat-card>
    </div>

    <mat-card class="mat-elevation-z8 background-table section-data-container">
      <mat-grid-list cols="12" rowHeight="40px">
        <!-- <mat-grid-tile [colspan]="1" [rowspan]="1">
          <button class="btn-confirmar text-uppercase font-weight-bold" mat-raised-button (click)="completarOrden()"
            [disabled]="!(pesoTotal<=pesoMaximo && pesoTotal>=pesoMinimo && !formHeader.invalid)" value="Confirmar">Confirm
          </button>
          <p>
            <span class="title-info">Container Min Weight: {{pesoMinimo}} </span>
          </p>
        </mat-grid-tile> -->
        <mat-grid-tile [colspan]="3" [rowspan]="1">
          <p>
            <span class="title-info">Container Max Weight: </span>
          </p>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="3" [rowspan]="1">
          <p>
            <span class="title-info">Ocuppied weight: </span>
          </p>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="3" [rowspan]="1">
          <p>
            <span class="title-info">Selected Product Weight: </span>
          </p>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="3" [rowspan]="1">
          <p>
            <span class="title-info">Available Weight to use: </span>
          </p>
        </mat-grid-tile>

        <!-- button confirm -->

      </mat-grid-list>
      <mat-grid-list cols="12" rowHeight="40px">
        <!-- <mat-grid-tile [colspan]="1" [rowspan]="1">
          <button class="btn-confirmar text-uppercase font-weight-bold" mat-raised-button (click)="completarOrden()"
            [disabled]="!(pesoTotal<=pesoMaximo && pesoTotal>=pesoMinimo && !formHeader.invalid)" value="Confirmar">Confirm
          </button>
          <p>
            <span class="title-info">Container Min Weight: {{pesoMinimo}} </span>
          </p>
        </mat-grid-tile> -->
        <mat-grid-tile [colspan]="2" [rowspan]="1">
          <p>
            <span class="title-info" fxFlex fxLayoutAlign="start center">{{pesoMaximo}} </span>
          </p>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="1">
          <p>
            <span class="title-info"> - </span>
          </p>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="2" [rowspan]="1">
          <p>
            <span class="title-info" fxFlex fxLayoutAlign="start center">{{pesoTotalFloat}} </span>
          </p>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="1">
          <p>
            <span class="title-info"> - </span>
          </p>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="2" [rowspan]="1">
          <p>
            <span class="title-info" fxFlex fxLayoutAlign="start center">{{selectedProductoWeight}} </span>
          </p>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="1">
          <p>
            <span class="title-info"> = </span>
          </p>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="2" [rowspan]="1">
          <p>
            <span class="title-info" fxFlex fxLayoutAlign="start center">{{availableWidthUse}} </span>
          </p>
        </mat-grid-tile>

        <!-- button confirm -->

      </mat-grid-list>

    </mat-card>
    <div class="col-lg-12 text-center">
      <button *ngIf="!repeatOrder" mat-raised-button class="btn-add text-uppercase font-weight-bold"
        (click)="completarOrden()" [disabled]="!(pesoTotal<=pesoMaximo && pesoTotal>=pesoMinimo && !formHeader.invalid)"
        value="Confirmar">Confirm</button>
      <div>
        <mat-card *ngIf="repeatOrder" class="mat-elevation-z8 background-table section-data-container custom-repeat">
          <mat-grid-list cols="1" rowHeight="40px">
            <mat-grid-tile [colspan]="1" [rowspan]="1">
              <p>
                <span class="title-info">You can edit Customer Order Number, before push REPEAT ORDER BUTTON</span>
              </p>
            </mat-grid-tile>
          </mat-grid-list>
        </mat-card>
        <button *ngIf="repeatOrder" mat-raised-button class="btn-add text-uppercase font-weight-bold"
          (click)="completarOrden()"
          [disabled]="!(pesoTotal<=pesoMaximo && pesoTotal>=pesoMinimo && !formHeader.invalid)" value="Confirmar">Repeat
          Order</button>
        <!-- <mat-hint *ngIf="repeatOrder">you can edit Customer Order Number, before push REPEAT ORDER BUTTON</mat-hint>  -->
        <button style="left: 10px; " *ngIf="repeatOrder" mat-raised-button
          class="btn-add text-uppercase font-weight-bold" value="CleanOrder" (click)="redirectTo()">New Order</button>
      </div>

    </div>
    <br>
  </div>
</div>

<app-footer></app-footer>